#projects {
  background-color: #ffffff;
  padding: 50px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.sub-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
